<button (click)="onButtonClick('start')">Start</button>
<button (click)="onButtonClick('stop')">Stop</button>
<button (click)="onButtonClick('reset')">Reset</button> <br /><br />
<div class="gameNav">
    <button (click)="onButtonClick('up')"> <i class="arrow up"></i></button><br />
    <button (click)="onButtonClick('left')" class="leftbtn"> <i class="arrow left"></i> </button>
    <button (click)="onButtonClick('right')" class="rightbtn"> <i class="arrow right"></i> </button><br />
    <button (click)="onButtonClick('down')"> <i class="arrow down"></i></button> <br /><br />
</div><br /><br />
