
<div class="container bg-violet" [ngClass]="this.color">
    <div class="hello">
        Welcome in Snake 
    </div>
    <div class="container_flex">
        <div class="col-3">
            <app-game-info [info]='userInfo'></app-game-info>
        </div>
        <div class="col-3">
            <ngx-snake [ngClass]="this.color" #game (foodEaten)="foodEaten()" (gameOver)="gameOver()"></ngx-snake>
        </div>
        <div class="col-3"> 
                <app-controller (buttonClickType)="controllerClick($event)"></app-controller>
            <button (click)="onClickLogOut()">Log Out</button>
        </div>
    </div>
    <div>
        <button class="buttonHighScores" (click)="onClickDisplayMovesButton()">Moves list</button>
        <button class="buttonHighScores" (click)="onClickHighScore()">High Scores</button>
    </div>
</div>


