
<div class="container bg-violet">
    <div class="hello">
        Welcome in Snake 
    </div>
    <div class="container_flex">
        <div class="col-3">
            <app-game-info [info]='userInfo'></app-game-info>
        </div>
        <div class="col-3">
            <ngx-snake #game (foodEaten)="foodEaten()" (gameOver)="gameOver()"></ngx-snake>
        </div>
        <div class="col-3"> 
                <app-controller (buttonClickType)="controllerClick($event)"></app-controller>
            <button (click)="onClickLogOut()" class="yellow">Log Out</button>
        </div>
    </div>
    <div>
        <button class="yellow" (click)="onClickDisplayMovesButton()"> Show list</button>
        <button class="buttonHighScores yellow" (click)="onClickHighScore()">Go to High Scores</button>
    </div>
</div>


