<div class="container">
    <div class="col">
        <h2>Highscore in Snake:</h2>
        <ol>
            <li *ngFor="let score of highscores | sort">{{score.name}} : {{ score.score}}</li>
        </ol>
    </div>
    <div class="col">
        <h2>Yours in Snake:</h2>
        <ol>
            <li *ngFor="let score of (highscores | myScores : userName | sort)">{{score.name}} : {{ score.score}}</li>
        </ol>
    </div>

</div>
<button class="goBackButton" (click)="goBackToGame()">Go back to game</button>