/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(42, 90, 42);
}
button{
  background-color: rgb(241, 241, 30);
}
button {
  &.high-contrast {
    background-color: #ffffff;
  }
}
ngx-snake {
      ngx-snake-tile {
        background: #088322;

        &.free {
          div {
            background: rgb(143, 231, 143);
          }
        }

        &.food {
          div{
            background: #088322;
          }
        }
        &.head,
        &.tail,
        &.body {
          div {
            background: #f5f10e;
          }
        }
    }
  &.high-contrast {
    ngx-snake-tile {
      background: #ffffff;

      &.free {
        div {
          background: #ffffff;
        }
      }

      &.head,
      &.tail,
      &.food,
      &.body {
        div {
          background: #000000;
        }
      }
    }
  }
}
.goBackButton {
  margin: 0 auto;
  display: block;
  border-radius: 55%;
  width: 100px;
  height: 50px;
  margin-top: 150px
}
p{
  margin-bottom: 0;
}