<div class="container">
    <div class="box">
        <h1>Let's play snake! </h1>
    </div>
    <div class="box">
        <form [formGroup]="logForm" (submit)="onClickLogIn()">
            <label for="name">
                Enter your name <br />
                <input type="text" name="userName" formControlName="name" minlength="3"
                    class="ng-invalid">
            </label> <br />
            <p *ngIf="!name?.valid && name?.touched && name?.value != ''">
                Incorrect name
            </p>
            <label for="email">
                Enter game token <br />
                <input 
                    type="text" 
                    name="gameToken" 
                    formControlName="token"
                    class="ng-untouched ng-pristine ng-invalid"
                >
            </label>
            <p *ngIf="badTokenError">
                Incorrect token, try again
            </p>
            <br />
            <label for="">
                Choose color theme<br />
                <select
                    formControlName="color"
                    name="color"
                >
                    <option value="normal">Normal</option>
                    <option value="high-contrast">High Contrast</option>
                </select>
            </label>
            <!-- <button [disabled]="!userForm.valid" class="logIn">Go to game</button> -->
            <button [disabled]="!logForm.valid" class="logIn">Go to game</button>
        </form>
    </div>
</div>