<div class="container">
    <div class="box">
        <h1>Let's play snake! </h1>
    </div>
    <div class="box">
        <form #userForm="ngForm" (submit)="onClickLogIn(userForm.form)">
            <label for="name">
                Enter your name <br />
                <input type="text" ngModel name="userName" #nameInput="ngModel" required minlength="3"
                    class="ng-invalid">
            </label> <br />
            <p *ngIf="!nameInput.valid && nameInput.touched && nameInput.value != ''">
                Incorrect name
            </p>
            <label for="email">
                Enter game token <br />
                <input 
                    type="text" 
                    ngModel 
                    name="gameToken" 
                    #tokenInput="ngModel" 
                    required
                    class="ng-untouched ng-pristine ng-invalid"
                >
            </label>
            <p *ngIf="badTokenError">
                Incorrect token, try again
            </p>
            <br />
            <label for="">
                Choose color theme<br />
                <select
                    ngModel
                    required
                    name="color"
                >
                    <option value="normal">Normal</option>
                    <option value="high-contrast">High Contrast</option>
                </select>
            </label>
            <button [disabled]="!userForm.valid" class="logIn">Go to game</button>
        </form>
    </div>
</div>